//====================================
//icon
//====================================
@mixin icon {
    font-size: $font-size_s;
    margin-left: 15px;
}

//矢印
.fa-angle-right {
    position: relative;
    right: 0;
    -webkit-transition: all ease-out .2s;
            transition: all ease-out .2s;
    -webkit-transform: translate(0, -50%);
            transform: translate(50%, 0);
    color: $color-sub-accent;

    @include icon;
}
